body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.logo-pos {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
} 
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: #000;
    display: inline-flex;
}
.logo-blue {
    color: #3C78FF;
}
.coming-soon {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    color: #000;
    display: inline-flex;
}
@media only screen and (max-width: 800px) {
    .logo {
        font-size: 70px;
    }
    .coming-soon {
        font-size: 45px;
    }
}


input, button {
    font-weight: 500;
}
.main-div, .loggedin-div {
    width: 50%;
    margin: 0px auto;
    margin-top: 100px;
    padding: 25px;
}
.form-group {
    margin-bottom: 1rem;
}
.main-div input {
    display: block;
    border: 1px solid #3C78FF;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    /*margin-bottom: 20px;*/
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.main-div input:focus {
    border: 1px solid #000;
}
.main-div button, .loggedin-div button {
    background: #3C78FF;
    color: #fff;
    border: 1px solid #3C78FF;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.main-div button:hover, .loggedin-div button:hover {
    background: #3C78FF; 
    color: #000;
    border: 1px solid #3C78FF;
    cursor: pointer;
}
.main-div label {
    font-size: 15px;
}
.forgotPass {
    margin-left: 1%;
    font-size: 15px;
}

